<% layout("/layouts/bolierplate")  %>

<img src="/aspects/istockphoto-1280157375-612x612.jpg" alt="some image" class="row-5" style="margin-left: 30%;">

<div class="row">
    <div class="alert alert-danger col-6 offset-3" style="text-align: center;" role="alert">
        <b> <%= message %> </b>
     </div>
</div>
