<% layout("/layouts/bolierplate")  %>
<body>
    <h3 class="offset-3">signup wanderlust</h3>
    <form class="needs-validation" novalidate action="/signup" method="post">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="mb-3">
                <label for="email" class="form-label">email</label>
                <input 
                name ="email" 
                id = "email"
                type="email" class="form-control" 
                required
                >
                <div class="invalid-feedback"> email required!</div>
                <div class="valid-feedback"> Looks Good</div>
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">username</label>
                <input 
                name ="username" 
                id = "username"
                type="text" class="form-control" 
                required
                >
                <div class="invalid-feedback"> username required!</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">password</label>
                <input 
                name ="password" 
                id = "password"
                type="password" class="form-control" 
                required
                >
                <div class="invalid-feedback"> password required!</div>
            </div>
            <button class="btn btn-danger">SignUp</button>
        </div>
    </div>